<div id="main_container">
<h1 class="main_heading">Posts</h1>

  <!-- Show all posts -->
  
  <ul id="posts">
  <% @posts_ordered.each do |post| %>
    <div class="block_overflow">
    <li class="post">
      <h2 class="post_title"><a href="/post/<%= post['id'] %>"><%= post['title'] %></a></h2>
      <p>by <%= post.user.username %> </p>
      <p>created at <%= post.created_at %> </p>
      <p><div class="post_body"><%= CodeRay.scan(post['body'], post['language']).html(:line_numbers => :table, :wrap => :div, :css => :style) %></div></p>
    </div>
    <!-- Editing functions -->
    <div class="post_edit_delete">
      <% if post.user.username == @username %>
        <!-- Delete post -->
        <form action="/posts/delete/<%= post['id'] %>" method="POST">
          <button>delete</button>
        </form>
        <!-- Edit post -->
        <form action="/posts/<%= post['id'] %>/edit" method="GET">
          <button>edit</button>
        </form>
      <% end %>
    </div>

    </li>
  <% end %>
  <!-- Create post -->
  <div class="new_post">
    <h2>New Post</h2>
    <form action="/posts/create" method="POST" class="post_new">
      <p>Title: <input type="text" name="title" /><br>
      <% if @username %>
        <input type="hidden" name="username" value="<%= @username %>" />
      <% else %>
        <input type="hidden" name="username" value="anonymous" />
      <% end %>
      Body:<br />
        <textarea name="body"></textarea>
      </p>
      Input Language:
      <select name="language">
        <option value="plaintext">Plain text</option>
        <option value="ruby">Ruby</option>
        <option value="html">HTML</option>
        <option value="css">CSS</option>
      </select>
      <input type="submit" value="Post" />
    </form>
  </div>

</div>